
@{
    ViewBag.Title = "Empresa";
}

<section class="post-wrapper-top dm-shadow">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Nossa Empresa</li>
            </ul><!-- end breadcrumb -->
            <h2>Nossa Empresa</h2>
        </div><!-- end col-12 -->
    </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-single">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="bigtitle">NOSSA EMPRESA NO MERCADO</h2>
            <h4 class="lead">Nosso Lema: Melhor do que ontem e amanhã melhor do que hoje!</h4>
        </div><!-- end section-title -->
        <div class="fullwidth-post-wrapper col-lg-12">

            <div class="general_wrapper clearfix">

                <div class="general_wrapper clearfix">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 first clearfix">
                        <div class="shop-img">
                            <a rel="prettyPhoto[product-gallery]" title="" href="~/Content/images/empresa1.jpg">
                                <div class="entry">
                                    <img class="img-thumbnail" src="~/Content/images/empresa1.jpg" alt="">
                                    <span class="magnifier"></span>
                                </div>
                            </a>
                        </div>
                        <div class="thumbnails text-center">
                            <a class="first" rel="prettyPhoto[product-gallery]" title="" href="~/Content/images/empresa2.jpg">
                                <div class="entry">
                                    <img class="img-thumbnail" src="~/Content/images/empresa2.jpg" alt="">
                                    <span class="magnifier"></span>
                                </div>
                            </a>
                            <a rel="prettyPhoto[product-gallery]" title="" href="~/Content/images/empresa3.jpg">
                                <div class="entry">
                                    <img class="img-thumbnail" src="~/Content/images/empresa3.jpg" alt="">
                                    <span class="magnifier"></span>
                                </div>
                            </a>
                        </div>
                    </div><!-- end col-lg-4 -->

                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <p>
                            Nossa história começa há mais de 15 anos, na cidade de Curitiba-PR.
                            Inicialmente, começamos apenas no ramo de sopro, fabricando conta gota e conta gotas gotejador, junto com potes e frascos. Sempre em busca de qualidade, com preços justos e competitivos.
                        </p><p>
                            No ano de 2015, a indústria ampliou e investiu no ramo de injeção de plásticos na linha de Festas e brindes com os produtos, Canecas para chopps, Long Drink, Taça para Champanhe e copos para drinks, modernos e com mais alta beleza.
                            Dentro do mesmo ano a empresa VMK Plásticos se assossiou conosco na empreitada e no objetivo de oferecer mais essas opções.
                        </p>
                        <p>
                            Hoje, além de estarmos bem sólidos no mercado, atendemos todo território nacional, com clientes de norte a sul do Brasil.
                            Estamos orgulhosos de sermos uma empresa autenticamente Brasileira e podermos atender nossos clientes com presteza e alegria.
                        </p>
                        <p>Nossa História que você faz parte dela hoje, amigos, clientes e funcionários, é que irá dar continuidade por gerações, sempre investindo em produtos modernos e atendimento diferenciado. </p>
                    </div><!-- end col-lg-8 -->
                </div><!-- end general_wrapper -->
            </div>
        </div>

    </div><!-- end container -->
</section>
